[Desktop Entry]
Encoding=UTF-8
Name=Link to Integer Overflow - an overview | ScienceDirect Topicshttps://www.sciencedirect.com › topics › computer-science
Type=Link
URL=https://www.sciencedirect.com/topics/computer-science/integer-overflow#:~:text=An%20integer%20overflow%20occurs%20when,meaning%20that%20anything%20might%20happen).
Icon=text-html
